.header {
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 30px 20px;
}
.nav {
  display: flex;
}
.linkInner {
  text-decoration: none;
  color: white;
}
.logo {
  color: white;
}